.App {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  filter: 'brightness(70%)';
  cursor: none;
}

.clock{
  position: fixed;
  display: block;
  top: 18px;
  right: 570px;
  width: 653px;
  height: 487px;
}

.canvasRight{
  position: fixed;
  top: 54px;
  right: 41px;
  width: 705px;
  height: 491px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  filter: 'brightness(50%)';
}

.canvasCenter{
  position: fixed;
  top: 215px;
  left: 560px;
  width: 470px;
  height: 722px;
  display: flex;
  flex-direction: column;
  filter: 'brightness(50%)';
}

.canvasLeft{
  position: fixed;
  top:65px;
  text-align: center;
  width: 370px;
  height: 930px;
  left: 39px;
}


.allRoutes{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-top: 45px;
}

.redDot {
  background-color: #cf0513;
  height: 25px;
  margin-top: 18px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.brownDot {
  height: 25px;
  margin-top: 18px;
  width: 25px;
  background-color: #673c01;
  border-radius: 50%;
  display: inline-block;
}

.oneRoute {
  display: flex;
  flex-direction: column;
  width: 10rem;
  justify-items: center;
  height: 275px;
}

.routeHead{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.transport {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weather {
  position: fixed;
  top: 575px;
  right: 165px;
  display: flex;
  width: 500px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 0;
}
li {
  margin: 5px 0;
  font-family: "Manrope", sans-serif;
}

h1 {
  font-size: 5.5rem;
  margin:0;
  margin-bottom: 2%;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-family: "Manrope", sans-serif;
  font-variant-numeric: tabular-nums;
}
h3 {
  font-size: 1.5rem;
  margin:5px 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0;
  font-size: medium;
  margin-left: 5%;
}

.event{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}