.App {
  /* background-image: url('../backgroundForReact.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.clock{
  position: fixed;
  top: 23px;
  right: 23px;
  width: 553px;
  height: 387px;
}

.canvasRight{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  position: fixed;
  top: 23px;
  right: 23px;
  width: 553px;
  height: 387px;
}

.canvasCenter{
  position: fixed;
  top: 151px;
  left: 420px;
  width: 371px;
  height: 560px;
}


h1 {
  font-size: 8rem;
  margin:0;
  margin-bottom: 2%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.allRoutes {
  position: fixed;
  top:35px;
  text-align: center;
  width: 290px;
  height: 725px;
  margin-left: 15px;
}

.canvasLeft{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.redDot {
  height: 25px;
  margin-top: 18px;
  margin-right: 18px;
  width: 25px;
  background-color: #c10101;
  border-radius: 50%;
  display: inline-block;
}

.brownDot {
  height: 25px;
  margin-top: 18px;
  margin-right: 18px;
  width: 25px;
  background-color: #673c01;
  border-radius: 50%;
  display: inline-block;
}

.oneRoute {
  display: flex;
  flex-direction: column;
  width: 10rem;
  justify-items: center;
  height: 190px;
}

.routeHead{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.transport {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}